extends ../layout
block content
  .ui.grid
    .four.wide.column
      .ui.secondary.vertical.pointing.tabular.menu
        a.item.active(data-tab='first') Start
        a.item(data-tab='second') Workspaces
        a.item(data-tab='third') Settings

    .twelve.wide.column
      .ui.tab.segment.active(data-tab='first')
        h1 Welcome back, #{user.username}!
        p Create new repository
      .ui.tab.segment(data-tab='second')
        h1 Workspaces
        .list
          .item W1
          .item W2
      .ui.tab.segment(data-tab='third')
        h1 Settings
  script(type='text/javascript').
    $(document).ready(function() {
      $('.tabular .item').tab({ history: false });
    });
