extends layout
block content
  .ui.grid
    .four.wide.column
      .ui.secondary.vertical.pointing.tabular.menu
        a.item.active(data-tab='first') Start
        a.item(data-tab='second') Workspaces
        a.item(data-tab='third') Settings

    .twelve.wide.column
      .ui.tab.segment.active(data-tab='first')
        h1 Welcome back, #{user.username}!
        p Create new repository
      .ui.tab.segment(data-tab='second')

        h1 Workspaces
        button.ui.basic.button.new-ws #[i.icon.plus] Add new workspace

        each workspace in workspaces
          .ui.relaxed.divided.list
            .item
              i.large.icon.disk.outline.middle.aligned
              .content
                a.header= workspace.name
                .description= workspace.description
                a.delete-ws Delete

      .ui.tab.segment(data-tab='third')
        h1 Settings


  include modals/new
  //include modals/edit
  include modals/delete
  script(type='text/javascript').
    $(document).ready(function() {
      $('.tabular .item').tab({ history: false });

      $('.new-ws').click(function() {
        $('#new')
          .modal('setting', 'transition', 'horizontal flip')
          .modal('show');
      });

      $('.delete-ws').click(function() {
        $('#delete')
          .modal('setting', 'transition', 'horizontal flip')
          .modal('show');
      });
    });
