doctype html
html(lang="en")
  include ../../mixins/utils
  head
    include ../../includes/head
  body
    #topmenu.ui.borderless.menu
      .container
        .header.item
          a.ui.brown.circular.label.big m
        a(href='#').item.active Home
        a(href='#').item Help
        .right.menu
          a(href='/signout').item Sign out
    #content.container
      block content
    include ../../includes/footer
