body
  background-color #DADADA

body > .grid
  height 100%

.form
  margin-top 25px

.column
  max-width 450px

#signup.column
  max-width 700px

#signup.column, .column
  margin-left auto
  margin-right auto
  margin-top 100px

.ui.login.error.message, .ui.login.success.message
  display block
