/*#login-content {
  width: 400px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
}

.ui[class*="center aligned"].grid {
  -webkit-box-pack: center;
  justify-content: center;
}
*/
