#topmenu
  border-radius 0
  //border none
  box-shadow none
  margin-top: 0

#content
  margin-top 50px

.ui.footer.segment
  margin 5em 0em 0em
  padding 5em 0em

.container
  width 900px
  margin-left auto
  margin-right auto

.tab.segment
  border-radius 0
  border none
  box-shadow none
  margin-top 0
