extends layout
block content
  .ui.middle.aligned.center.aligned.grid
    .column(style='margin-top:100px')
      +gray-logo(64)
      h1 makiato
      .ui.buttons
        a(href='/login').ui.button Login
        .or
        a(href='/login#/signup').ui.button Sign up
