doctype html
html(lang="en")
  include ../includes/head.jade
  body
    .ui.middle.aligned.center.aligned.grid
      .column(style='margin-top:100px')
        +gray-logo(64)
        h1 makiato
        a(href='/login').ui.inverted.red.button Login
