doctype html
html(lang="en")
  include ../includes/head
  body
  .ui.middle.aligned.center.aligned.grid
    #headlogo.column(style='margin-top:100px')
      //+gray-logo(64)
      a.ui.brown.circular.label.massive m
      h1 makiato
      .ui.buttons
        a(href='/login').ui.button Login
        .or
        a(href='/signup').ui.button Sign up
