title Makiato
include ../mixins/utils.jade
+loadjs('./assets/jquery.js')
+loadjs('./assets/jquery.address.js')
+loadjs('./assets/semanticui/semantic.min.js')
+loadjs('./assets/angular.js')
+loadjs('./assets/angular-route.js')
+loadjs('./js/ng-makiato.js')
+loadjs('./js/makiato.js')

+loadcss('./assets/semanticui/semantic.min.css')
+loadcss('./style/style.css')
