doctype html
html(lang='en')
  head
    include ./includes/head.jade
    +loadcss('./style/login-page.css')
    +loadjs('./js/ng-ctrl/loginCtrl.js')
  body(ng-app='mLogin')
    .ui.middle.aligned.center.aligned.grid
      .column(ng-controller='LoginCtrl')
        img(src='img/logo/logo64-gray.png').image.login.gray-logo-img
        form.ui.large.form
          .ui.stacked.segment
            h2.ui.red.header Sign in to your account
            .field
              .ui.left.icon.input
                i.user.icon
                input(type='text', name='email', placeholder='E-mail address', ng-model='user.email')
            .field
              .ui.left.icon.input
                i.lock.icon
                input(type='password', name='password', placeholder='Password', ng-model='user.password')
            button.ui.fluid.large.red.submit.button(ng-click='login()', ng-disabled='!(user.email && user.password)')
              p Login
            .ui.login.error.message(ng-model='errorMsg', ng-class='{"hidden": !errorMsg}')
              p {{errorMsg}}
            .ui.login.success.message(ng-model='successMsg', ng-class='{"hidden": !successMsg}')
              p {{successMsg}}
        .ui.message
          p New to us?
            a Sign up!
