include ../../mixins/utils.jade
.ui.middle.aligned.center.aligned.grid
  .column
    center
      +gray-logo(64)
    form.ui.large.form.left.aligned
      .ui.stacked.segment
        h2.ui.red.header Sign in to your account
        .field
          .ui.left.icon.input
            i.user.icon
            input(type='text', name='email', placeholder='E-mail address', ng-model='user.email')
        .field
          .ui.left.icon.input
            i.lock.icon
            input(type='password', name='password', placeholder='Password', ng-model='user.password')
        button.ui.fluid.large.red.submit.button(ng-click='login()')
          p Login
        .ui.login.error.message(ng-model='errorMsg', ng-class='{"hidden": !errorMsg}')
          p {{errorMsg}}
        .ui.login.success.message(ng-model='successMsg', ng-class='{"hidden": !successMsg}')
          p {{successMsg}}
    .ui.message
      p New to us? 
        a(href='#/signup') Sign up!
