include ../../mixins/utils.jade
.ui.middle.aligned.center.aligned.grid
  #signup.column
    center
      +gray-logo(64)
    form.ui.medium.form
      .ui.stacked.segment
        h2.ui.red.header.center.aligned Create new account
        .field
          label E-mail address
          .ui.left.icon.input
            i.user.icon
            input(type='text', name='email', placeholder='E-mail address', ng-model='user.email', ng-disabled='created')

        .field
          label Password
          .ui.left.icon.input
            i.lock.icon
            input(type='password', name='password', placeholder='Password', ng-model='user.password', ng-disabled='created')

        .field
          label Verify password
          .ui.left.icon.input
            i.lock.icon
            input(type='password', name='verify-password', placeholder='Verify password', ng-disabled='created')

        .field.inline
          .ui.checkbox
            input(type='checkbox', name='robotchecker', ng-model='robotchecker', ng-disabled='created')
            label Check this if you're not a sith lord.
        button.ui.red.submit.button(ng-click='register()')
          p Create account!
        button.ui.gray.button(onclick="location.href='#'")
          p Cancel
        .ui.login.error.message(ng-model='errorMsg', ng-class='{"hidden": !errorMsg}')
          p {{errorMsg}}
        .ui.login.success.message(ng-model='successMsg', ng-class='{"hidden": !successMsg}')
          p {{successMsg}}
