#new.ui.modal
  i.close.icon
  .header
    p Create new workspace
  .content
    form.ui.form
      .field
        label Name
        input(type='text' name='ws-name' placeholder='Name')
      .field
        button.ui.button Create
