extends layout.jade
block content
  .column
    center
      +gray-logo(64)
    form.ui.large.form.left.aligned(action="/login", method="POST")
      .ui.stacked.segment
        h2.ui.red.header.center.aligned Sign in to your account
        if message
          .ui.login.error.message
            p= message
        .field
          .ui.left.icon.input
            i.user.icon
            input(type='text', name='username', placeholder='Username')
        .field
          .ui.left.icon.input
            i.lock.icon
            input(type='password', name='password', placeholder='Password')
        button.ui.fluid.large.red.submit.button
          p Login
    .ui.message.ui.center.aligned
      center
        a(href='/signup') Sign up!
    script.
      $('.ui.form').form({
        inline: true,
        fields: {
          'username': 'empty',
          'password': 'empty'
        },
      });
