doctype html
html(lang="en")
  head
    include includes/head
  body
  .ui.middle.aligned.center.aligned.grid
    .column(style='margin-top:100px')
      h1 404
      h5 Page not found!
      a.ui.medium.basic.brown.button(href='/') Take me home!
