extends templates/dashboard/layout
block content
  .ui.grid(ng-app="dashboardModule")
    .four.wide.column
      .ui.secondary.vertical.pointing.tabular.menu
        a.item.active(ng-href="#/start") Start
        a.item(ng-href="#/workspaces") Workspaces
        a.item(ng-href="#/settings") Settings

    .twelve.wide.column
      div(ng-view="")

  include templates/dashboard/modals/new
  //include modals/edit
  include templates/dashboard/modals/delete
  script(type='text/javascript').
    $(document).ready(function() {
      $('.tabular .item').tab({ history: false });

      $('.tabular .item').click(function() {
        var $tab = $(this);

        $tab.parent().find('.item').removeClass('active');

        $tab.addClass('active');
      });

      $('.new-ws').click(function() {
        $('#new')
          .modal('setting', 'transition', 'horizontal flip')
          .modal('show');
      });

      $('.delete-ws').click(function() {
        $('#delete')
          .modal('setting', 'transition', 'horizontal flip')
          .modal('show');
      });
    });
