extends templates/auth/layout
block content
  .column.center.aligned(ng-controller="SignupController")
    center
      a.ui.brown.circular.label.massive m
    form.ui.medium.form(action="/signup", method="POST")
      .ui.stacked.segment
        h2.ui.black.header Create new account
        .ui.login.error.message(ng-show='error != ""')
          p {{ error }}
        .field
          label Username
          .ui.left.icon.input
            i.user.icon
            input(type='text', name='username', placeholder='Username', ng-model='formData.username', ng-disabled='created')
        .field
          label E-mail address
          .ui.left.icon.input
            i.mail.icon
            input(type='text', name='email', placeholder='E-mail address', ng-model='formData.email', ng-disabled='created')
        .field
          label Password
          .ui.left.icon.input
            i.lock.icon
            input(type='password', name='password', placeholder='Password', ng-model='formData.password', ng-disabled='created')
        .field
          label Verify password
          .ui.left.icon.input
            i.lock.icon
            input(type='password', name='verify-password', placeholder='Verify password', ng-disabled='created')
        .field
          p Captcha?
        center
          .ui.brown.submit.button(ng-click="signup()")
            p Create account!
          .ui.gray.button(onclick="location.href='/login'")
            p Cancel
