h1 Workspaces
button.ui.basic.button.new-ws #[i.icon.plus] Add new workspace

h2 Foreach workspace
.ui.relaxed.divided.list
  .item
    i.large.icon.disk.outline.middle.aligned
    .content
      a.header workspace.name
      .description workspace.description
      a.delete-ws Delete