title Makiato
include ../mixins/utils.jade
+loadcss('./assets/semanticui/semantic.min.css')
+loadjs('./assets/jquery.js')
+loadjs('./assets/semanticui/semantic.min.js')
+loadjs('./assets/angular.js')
+loadjs('./assets/angular-route.js')
+loadjs('./assets/firebase.js')
+loadjs('./assets/angularfire.js')
+loadjs('./js/ng-makiato.js')
+loadjs('./js/makiato.js')
